@import './mixin.scss';

.nav-container {
  max-width: var(--container-2xl);
  margin: 0 auto;
}

.home-container {
  max-width: var(--container-xl);
  margin: 42px auto;
}

.input-label-container {
  margin-top: 0.5rem;
  line-height: 2.5rem;
}

.divider-xl {
  margin: 50px 0;
  border-bottom: 1px solid var(--neutral-300);
}

.btn-xl {
  font-size: 1rem;
}

.divider-lg {
  margin: 20px 0;
  border-bottom: 1px solid var(--neutral-300);
}

.vertical-divider {
  height: 50px;
  margin: 0 20px;
  border-left: 1px solid var(--neutral-200);
}

.recent-post-container {
  display: flex;
  gap: 2rem;
}

.trending-container {
  margin-top: 8.5rem;
}

.post-container {
  @include pageContainer;
}

.edit-container {
  @include pageContainer;
}

.myaccount-container {
  margin-top: 8.5rem;
}

.blankstate-container {
  position: relative;

  .error-wrapper {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 10rem;
    left: 0;
    right: 0;
    text-align: center;

    > .error-message {
      font-size: 1.2rem;
    }

    > svg {
      width: 200px;
      height: 200px;
    }
  }

  > .empty-box {
    margin-top: 1rem;
    &:before {
      content: '';
      background: var(--neutral-100);
      width: 100%;
      height: 200px;
      display: block;
    }
  }
}
