.nav-container {
  max-width: var(--container-2xl);
  margin: 0 auto;
}

.home-container {
  max-width: var(--container-xl);
  margin: 42px auto;
}

.input-label-container {
  margin-top: 0.5rem;
  line-height: 2.5rem;
}

.divider-xl {
  margin: 50px 0;
  border-bottom: 1px solid var(--neutral-300);
}

.btn-xl {
  font-size: 1rem;
}

.divider-lg {
  margin: 20px 0;
  border-bottom: 1px solid var(--neutral-300);
}

.vertical-divider {
  height: 50px;
  margin: 0 20px;
  border-left: 1px solid var(--neutral-200);
}

.recent-post-container {
  display: flex;
  gap: 2rem;
}

.trending-container {
  margin-top: 8.5rem;
}

.post-container {
  margin: 8rem auto;
  overflow: hidden;
  max-width: var(--container-lg);
}

.edit-container {
  margin: 8rem auto;
  overflow: hidden;
  max-width: var(--container-lg);
}
