.btn-primary-default {
  cursor: pointer;
  height: 40px;
  padding: 10px 34px;
  border-radius: var(--border-radius);
  background: var(--primary-500);
  font-size: 16px;
  color: var(--white);
  font-weight: 600;

  &:hover {
    background: var(--primary-800);
  }
}

.btn-secondary-default {
  cursor: pointer;
  border: 2px solid var(--primary-500);
  color: var(--primary-500);
  border-radius: var(--border-radius);
  font-size: 16px;
  padding: 10px 34px;
  font-weight: bold;

  &:hover {
    border: 2px solid var(--primary-800);
    color: var(--primary-800);
  }
}

.btn-xl {
  width: 100%;
}
