.input-container-style {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--neutral-100);
  width: 100%;
  border-radius: var(--border-radius);
  padding: 16px;
  box-sizing: border-box;

  > .input-style {
    width: 100%;
    font-size: 1rem;
    background: transparent;
  }

  &:hover,
  &:focus {
    outline-style: solid;
    outline-color: var(--primary-500);
  }
}

.form-btn {
  margin-top: 1rem;
  background: var(--neutral-100);
  padding: 24px 20px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.input .label-style {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--neutral-700);
}

.form-title {
  color: var(--neutral-700);
}

.form-link {
  color: var(--primary-500);
  font-size: 0.9rem;
}

.form-forgot-link {
  color: var(--primary-500);
  margin-top: 18px;
  font-size: 0.9rem;
}

.form-policy {
  color: var(--neutral-500);
  line-height: 1.4rem;
}

.error-style {
  line-height: 1.5rem;
  margin-top: 2px;
  color: rgb(165, 44, 44);
  font-size: 0.9rem;
}
