.navbar {
  background: var(--white);
  -webkit-box-shadow: -1px 64px 102px -33px rgba(23, 24, 28, 0.27);
  -moz-box-shadow: -1px 64px 102px -33px rgba(23, 24, 28, 0.27);
  box-shadow: -1px 64px 102px -33px rgba(23, 24, 28, 0.27);
}

.nav-content {
  padding: 16px;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: space-between;

  > .nav.logo {
    flex: 1;
  }

  > .nav-search {
    flex: 5;
  }

  > .nav-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;

    > .btn-signup {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      font-size: 0.9rem;
    }
  }
}

.btn-link {
  text-decoration: none;
}
