@import url('https://fonts.cdnfonts.com/css/satoshi');

//layout
@import './layouts/public-layout.scss';

//Components
@import './components/navigation-bar.scss';
@import './components/button.scss';
@import './components/form.scss';
@import './components/card.scss';
@import './components/tags.scss';

//Helpers
@import './helpers/container.scss';

body {
  font-family: 'Satoshi', sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #c2c2c250;
}

.reset-input {
  border: 0;
  outline: none;
  box-sizing: border-box;
}

.reset-button {
  border: 0;
  outline: none;
}

:root {
  --neutral-800: #17181c;
  --neutral-700: #17181c;
  --neutral-600: #1d1e23;
  --neutral-500: #4a4b4f;
  --neutral-400: #4a4b4f;
  --neutral-300: #a5a5a7;
  --neutral-200: #d2d2d3;
  --neutral-100: #ecf1f3;

  --primary-800: #3730a3;
  --primary-700: #4338ca;
  --primary-600: #4f46e5;
  --primary-500: #6366f1;
  --primary-400: #818cf8;
  --primary-300: #a5b4fc;
  --primary-200: #c7d2fe;
  --primary-100: #e0e7ff;
  --primary-50: #eef2ff;

  --white: #ffffff;
  --dirty-white: #ecf1f3;
  --border-radius: 5px;

  --container-2xl: 1800px;
  --container-xl: 1280px;
  --container-lg: 1024px;
  --container-md: 768px;
  --container-sm: 640px;

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  --box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}
